.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.login-form-modal {
    /* z-index: 50; */
    background-color: #0e1220;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
    border: 1px solid white;
    font-size: 1.2rem;
    color: white;
    width: 400px;
}

.form-input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.login-form-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px 50px;
}

.form-input-field {
    margin: 5px 0px;
    padding: 5px;
    /* border-radius: 5px; */
    border: 1px solid white;
}

.error-message {
    color: rgb(255, 87, 87);
}

.modal-submit-button {
    margin: 20px 0px;
    padding: 10px;
    background-color: #0e6ff8;
}

.modal-submit-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #222222;
}