.about-me-image {
    background-color: #ff5a5f;
    height: 100%;
    /* width: 250px; */
    border: 1px solid white;
}

.about-me-heading {
    display: flex;
    justify-content: space-between;
}

.about-me-details {
    padding: 0 20px;
}

.about-me-rarity {
    background-color: #ff5a5f;
}

.about-me-history {
    width: 230px;
}

.about-me-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Poppins', calibri, helvetica, arial, sans-serif;
}

.socials {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 450px;
}

.social-logo {
    height: 70px;
}

.other-projects {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.linked-in,
.github,
.serene-haven,
.well-done {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

/* .about-img-container {
    overflow: hidden;
} */

.project-image {
    border: 1px solid white;
    height: 275px;
    width: auto;
    transition: transform 0.75s ease;
    cursor: pointer;
}

.project-image:hover {
    transform: scale(1.05);
}

.social-links,
.project-links {
    /* color: white; */
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.separator {
    margin: 0 5px;
}