.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    transition: transform 0.4s ease-in-out;
    /* overflow: auto; */
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 100;
    background-color: #1e223a;
    padding: 15px;
}

/* .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    background-color: white;
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
} */

.cart-open {
    transform: translateX(0);
}

.cart-closed {
    transform: translateX(100%);
}

.cart-items-heading {
    /* text-align: center; */
    font-size: 1.5rem;
    margin: 20px auto;
}

.cart-item-list {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    margin: 10px 0px;
    font-family: 'Poppins', calibri, helvetica, arial, sans-serif;
    font-weight: bold;
    max-width: 400px;
}

.cart-item-container {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    justify-content: space-between;
}

.individual-cart-item {
    margin: 10px 0;
}

.item-detail-price {
    margin: 5px 0;
}

.cart-item-image-container {
    max-height: 100px;
    max-width: 100px;
}

.cart-item-image {
    height: 100%;
}

.cart-total-heading {
    margin: 0;
    /* font-weight: bold; */
}

.additional-money-message {
    font-family: 'Poppins', calibri, helvetica, arial, sans-serif;
    font-weight: bold;
    /* color: #d0b66d; */
    color: #cfb56d;
    margin: 40px 0;
}

.current-vbucks {
    margin-bottom: 0;
    margin-top: 0;
}

.inventory-balance {
    margin-bottom: 20px;
}

.balance-amount {
    margin: 0;
}

.in-cart-updates {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
}

.in-cart-add {
    margin-right: 15px;
    background-color: #35ff1f;
    transition: 0.5s all;
}

.in-cart-add:hover {
    background-color: 	#32ef1d;
}

.in-cart-remove {
    background-color: #ff1f35;
    transition: 0.5s all;
}

.in-cart-remove:hover {
    background-color: 	#e11d30;
}

.in-cart-add,
.in-cart-remove {
    /* background-color: #222222; */
    border: 1px solid white;
    font-family: "Luckiest Guy", cursive;
    font-size: 1.2rem;
    margin-top: 5px;
    cursor: pointer;
    color: #1d1d1d;
}

.checkout-button-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.checkout-button {
    /* background: #FF6347; */
    background: #0e6ff8;
    border: 1px solid white;
    padding: 10px;
    font-family: "Luckiest Guy", cursive;
    font-size: 1.6rem;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    transition: 0.5s all;
}

.checkout-button:hover {
    background: #2138ff;
    color: white;
}