.featured-header {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    text-align: center;
    padding: 0px 10px;
}

.filter-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: 'Poppins', calibri, helvetica, arial, sans-serif;
}

.featured-items-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    justify-items: center;
}

/* @media screen and (max-width: 400px) {
    .featured-header {
        text-align: center;
    }
} */

@media (min-width: 750px) {
    .featured-items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1160px) {
    .featured-items-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1440px) {
    .featured-items-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.back-to-top-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.back-to-top-button {
    font-size: 1.8rem;
    background-color: #057cdf;
}