/* .current-wallet {

} */

.no-scroll {
    overflow: hidden;
    /* opacity: 0.5; */
}

.add-remove-cart-buttons {
    margin: 10px 0;
}

.gift-message {
    font-family: 'Poppins', calibri, helvetica, arial, sans-serif;
    ;
    font-weight: bold;
    color: #cfb56d;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}