.inventory-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
}

.inventory-item {
    /* margin: 10px 0; */
    margin-bottom: 45px;
    display: grid;
    /* grid-template-columns: 0.5fr 2fr 3fr; */
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    width: 800px;
    cursor: pointer;
    /* border: 1px solid white; */
}

.inventory-heading h2 {
    margin: 0px;
}

.total-value {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}

.inventory-subheading {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: "Luckiest Guy", cursive;
}

.inventory-item-info {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    margin: 20px 0px;
    font-size: 1.2rem;
    cursor: pointer;
}

.inventory-item-info > div {
    margin-bottom: 15px;
}

.inventory-quantity {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 1.4rem;
    /* cursor: pointer; */
}

.inventory-comment-text {
    max-width: 400px;
    text-align: center;
}

.inventory-detail-price {
    display: flex;
    /* align-items: center; */
    flex-direction: row;
}

.member-since {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.user-creation-date {
    margin-left: 10px !important;
}

@media screen and (max-width: 735px) {
    .inventory-heading {
        text-align: center;
    }

    .inventory-detail-price {
        justify-content: center;
    }

    .inventory-item {
        display: flex;
        flex-direction: column;
        width: auto;
        /* justify-content: space-between; */
    }

    .inventory-item-info {
        margin: 0px;
        text-align: center;
    }

    .inventory-subheading {
        text-align: center;
    }

    .total-value {
        justify-content: center;
    }

    .member-since {
        justify-content: center;
    }
}

@media screen and (max-width: 420px) {
    .inventory-detail-price-heading {
        flex-direction: column;
    }

    .member-since {
        flex-direction: column;
    }

    .user-creation-date {
        margin-left: 0px;
    }
}