.inventory-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
}

.inventory-item {
    /* margin: 10px 0; */
    margin-bottom: 45px;
    display: grid;
    /* grid-template-columns: 0.5fr 2fr 3fr; */
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    width: 700px;
    cursor: pointer;
    /* border: 1px solid white; */
}

.inventory-heading h2 {
    margin: 0px;
}

.inventory-subheading {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: "Luckiest Guy", cursive;
}

.inventory-item-info {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    margin: 20px 0px;
    font-size: 1.2rem;
    cursor: pointer;
}

.inventory-item-info > div {
    margin-bottom: 15px;
}

.inventory-quantity {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 1.4rem;
    /* cursor: pointer; */
}

@media screen and (max-width: 705px) {
    .inventory-item {
        display: flex;
        flex-direction: column;
        width: auto;
        /* justify-content: space-between; */
    }

    .inventory-item-info {
        margin: 0px;
    }
}