.reminder-message {
    font-family: 'Poppins', calibri, helvetica, arial, sans-serif;
}

.delete-reminder-button {
    background-color: #c52434;
}

.reminder-message-logged-out {
    margin-top: 0px;
}