.carousel-container {
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* max-width: 1000px; */
}

.daily-items-carousel {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red; */
    margin-bottom: 10px;
    max-width: 1000px;
    margin: auto;
}

.slick-next {
    right: 15px !important;
}

.slick-prev:before,
.slick-next:before {
    /* color: black !important; */
    opacity: 1 !important;
}

.slick-prev {
    left: 15px !important;
}

.slick-next,
.slick-prev {
    z-index: 1;
}

.slick-list {
    padding: 0 0% !important;  /* Adjust the padding as necessary */
    /* background-color: red; */
}

.slick-track {
    display: flex;
    justify-content: center;
    /* background-color: red;  */
}

/* .arrow-button {
    cursor: pointer;
} */

.item-unit {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: start; */
    width: 200px;
    /* margin: 10px 5px; */
    margin: 0 10px;
}

.home-item-information {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* margin-top: 10px; */
}

.icon-and-price {
    display: flex;
    align-items: center;
}

.item-name {
    cursor: pointer;
}

.item-price {
    cursor: pointer;
}

.vbucks-icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-right: 5px;
}

.img-container {
    overflow: hidden;
    border: 1px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}

.home-item-image {
    height: 200px;
    width: 200px;
    cursor: pointer;
    /* border: 1px solid rgb(255, 255, 255); */
    /* box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1); */
    transition: transform 1s ease;
    padding: none;
}

.home-item-image:hover {
    transform: scale(1.07);
}