.daily-items-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.item-unit {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    width: 200px;
}

.home-item-information {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.home-item-name {
    cursor: pointer;
}

.home-item-price {
    cursor: pointer;
}

.vbucks-icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.img-container {
    overflow: hidden;
    border: 1px solid white;
    height: 200px;
    width: 200px;
}

.home-item-image {
    height: 200px;
    width: 200px;
    cursor: pointer;
    /* border: 1px solid rgb(255, 255, 255); */
    /* box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1); */
    transition: transform 0.3s ease;
    padding: none;
}

.home-item-image:hover {
    transform: scale(1.1);
}