.posted-comments {
    font-family: 'Poppins', calibri, helvetica, arial, sans-serif;
}

.edit-comment-button {
    background-color: #c422dd;
}

.delete-comment-button {
    background-color: #c52434;
}