/* colors used per rarity */
/* 
#62b11e green
#5346d2 dark blue/purple
#309b9b aquamarine
#28a8e7 light blue
#9e49d9 purple
*/

.home-heading {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    /* max-height: 400px; */
    border: 1px solid rgb(255, 255, 255);
    /* box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1); */
}

.featured-items-button {
    cursor: pointer;
}

.refresh-counter {
    display: flex;
    justify-content: center;
    align-items: center;
}