/* colors used per rarity */
/* 
#62b11e green
#5346d2 dark blue/purple
#309b9b aquamarine
#28a8e7 light blue
#9e49d9 purple
*/

/* .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.heading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
}

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    /* max-height: 400px; */
    transition: transform 1s ease;
    /* z-index: -1; */
}

.hero-banner:hover {
    transform: scale(1.05);
    /* z-index: -1; */
}

.home-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 20px 0; */
}

.banner-container {
    overflow: hidden;
    border: 1px solid white;
    max-width: 1000px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* z-index: -1; */
}

.featured-items-button-container {
    display: flex;
    justify-content: center;
}

.featured-items-button {
    background-color: #ae35ea;
    /* margin-top: 20px; */
    /* margin-bottom: 30px; */
    font-size: 1.35rem;
    /* padding: 8px; */
}

.home-item-information {
    display: flex;
    flex-direction: column;
}

.icon-and-price {
    display: flex;
    align-items: center;
}

.item-name {
    cursor: pointer;
}

.item-price {
    cursor: pointer;
}

.vbucks-icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-right: 5px;
}

.home-item-image {
    height: 200px;
    width: 200px;
    cursor: pointer;
    transition: transform 1s ease;
    padding: none;
}

.home-item-image:hover {
    transform: scale(1.07);
}

.item-unit {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    max-width: 200px;
    margin: 0 10px;
}

/* .item-unit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */