.inventory-heading {
    font-family: 'Poppins', calibri, helvetica, arial, sans-serif;
}

.inventory-welcome {
    font-family: "Luckiest Guy", cursive;
}

.inventory-vbuck {
    margin-left: 10px;
}

