/* .item-detail-container {
    display: flex;
    justify-content: center;
} */

.item-detail-heading {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 20px auto;
    max-width: 1000px;
    height: 230px;
    /* height: 250px; */
    font-family: 'Poppins', calibri, helvetica, arial, sans-serif;
    font-weight: bolder;
}

.item-detail-name {
    margin: 0;
}

.item-rarity-section {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 10px 0px;
}

.rarity {
    margin-right: 3px;
    padding: 4px 8px;
    margin: 0;
}

.item-type {
    margin: 0 5px;
}

.item-detail-price {
    display: flex;
    align-items: center;
}

/* .item-details {
    max-width: 230px;
} */

.item-history {
    height: 100%;
    max-width: 230px;
}

.occurrences {
    display: flex;
    margin: 8px 0 12px;
}

.date-days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #1e223a;
    padding: 0.6rem;
}

.date {
    /* color: #c3b16c; */
    color: #cfb56d;
}

.days {
    color: #e6e7e8;
}

.date-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #1e223a;
    padding: 0.4rem 0.6rem;
}

.item-detail-image {
    height: 100%;
    width: auto;
    border: 1px solid white;
}

.time-days {
    max-height: 182px;
    height: 80%;
    overflow-y: auto;
    border: 1px solid 
    #1e223a;
}

.loading-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.idp-subheading {
    margin-bottom: 10px;
    margin-top: 35px;
}