.item-detail-heading {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
    max-width: 1000px;
    height: 210px;
    font-family: 'Poppins', calibri, helvetica, arial, sans-serif;
    font-weight: bolder;
}

.item-detail-name {
    margin: 0;
}

.item-rarity-section {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.rarity {
    margin-right: 3px;
    padding: 4px 8px;
}

.occurrences {
    display: flex;
    margin: 8px 0 12px;
}

.date-days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #1e223a;
    padding: 0.6rem;
}

.date {
    color: #c3b16c;
}

.days {
    color: #e6e7e8;
}

.date-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #1e223a;
    padding: 0.4rem 0.6rem;
}

.item-details {
    /* margin: none; */
    /* padding: 10px; */
    /* margin-top: none; */
}

.item-detail-image {
    height: 250px;
    width: 250px;
    border: 1px solid white;
    /* box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1); */
}

.time-days {
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid 
    #1e223a;
}

.loading-message {
    display: flex;
    justify-content: center;
    align-items: center;
}