.refresh-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.time-left {
    margin-bottom: 10px;
    margin-top: -10px;
}